@import "tailwindcss";

@theme {
  /* Semantic colors */
  --color-background: #faf1e3;
  --color-foreground: #88642a;
  --color-border: #957139;
  --color-input-border: #957139;
  --color-icon: #88642a;
  --color-icon-active: #88642a;
  --color-error: #b91c1c;
  --color-link: #88642a;
  --color-button-hover: #95713933;
  /* Form and button */
  --radius-input: 6px;
  --radius-button: 46px;
  --radius-card: 11px;
  --border-width-input: 1px;
  /* Typography */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --text-size-hero: 48px;
  --line-height-hero: 100%;
  --font-size-hero: 48px;
  --leading-hero: 100%;
}

@utility font-heading {
  font-family: var(--font-inria-serif), serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
